{% extends 'base.html.twig' %}

{% block title %}Liste des acteurs{% endblock %}

{% block body %}

    <h2>Liste des acteurs</h2>  

    <table>
    {% for actor in actors %}
        <tr>
        <td><img src="{{ asset('images/' ~ actor.photo) }}"></td>
        <td>
        <a href="{{
            path('afficheactor', {'id': actor.id} )
        }}">
            {{actor.nom}}</a></td>
        <td>{{actor.prenom}}</td>
        </tr>
        <td>
        <a href="{{
            path('modifactor', {'id': actor.id} )
        }}">
        {{dump(app.user)}}
        modif
        </a>
        </td>
        
            {# {{actor.nom}} <br/>
            {{actor.prenom}}<br/>
            <img src="{{ asset('images/' ~ actor.photo) }}"> <br/> #}

    {% endfor %}
    <tr><td><a href="{{
            path('creationactor')
        }}">Ajoute acteur</a>
        </tr></td>

    </table>

{% endblock %}
